/**
 * Shop tables
 */
table.shop_table_responsive {
	thead {
		display: none;
	}

	tbody {
		th {
			display: none;
		}
	}

	tr {
		td {
			display: block;
			text-align: right;
			clear: both;

			&:before {
				content: attr(data-title) ': ';
				float: left;
				font-weight: bold;
			}

			&.product-remove {
				a {
					text-align: left;
				}

				&:before {
					display: none;
				}
			}

			&.actions,
			&.download-actions {
				&:before {
					display: none;
				}
			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

@media #{$sm-min} {
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			th, td {
				text-align: left;
			}

			td {
				display: table-cell;

				&:before {
					display: none;
				}
			}
		}
	}
}

.dataTables_filter {
  margin-bottom: 10px;
}


.site-content {
  table.dataTable {
    width: 100% !important;
    border-bottom: transparent;
    font-size: 13px;
    thead th {
      border-bottom: 3px solid #e3e3e3;
      text-align: left;
      padding: 6px 3px
    }
    tr.even {
      td {
        background-color: #fafafa;
      }
    }
    tr:hover {
      td {
        background-color: #efefef;
      }
    }
    td {
      padding: 3px
    }
  }
}
