$color__btn: $color__dark;
$color__btn-text: $color__light;
.btn {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  color: $color__btn-text;
  background-color: $color__btn;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  text-align: center;
  &:hover, &:focus {
    background-color: lighten($color__btn, 20%);
  }

  //@include fast(all);
  &-featured {
    background-color: $color__btn;
    color: $color__btn-text;
    &:hover, &:focus {
      //@include btn-hover($color__featured);
    }
  }

}