$color__btn: $color__dark;
$color__btn-text: $color__light;
.btn {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  color: $color__btn-text;
  background-color: $color__btn;
  padding: 1em 1.5em;
  border: none;
  border-radius: 0;
  text-align: center;
  @include longboxshadow($color__btn, 10);
  &-sm {
    @include longboxshadow($color__btn, 3);
    padding: .5em 1em;
    &:hover, &:focus {
      box-shadow: none;
      color: $color__btn-text;
      @include btn-hover(3px, 3px);
    }
  }
  &:hover, &:focus {
    box-shadow: none;
    color: $color__btn-text;
    @include btn-hover(10px, 10px);
  }

  @include fast(all);
  &-featured {
    background-color: $color__btn;
    color: $color__btn-text;
    &:hover, &:focus {
      //@include btn-hover($color__featured);
    }
  }

}