.footer {
  @media #{$sm-min} {
    padding-top: 2em;
  }
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: $color__menu-bg;
  @include flex(center, center);
  &-social {
    @media #{$sm-min} {
      margin-right: .5em;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include flex(center, center);
      flex-wrap: wrap;
      a {
        padding: 1em;
        background-color: $color__menu;
        color: $color__menu-bg;
        border-radius: 100em;
        margin: 1em;
        display: block;
        i {
          width: 1em;
          height: 1em;
          text-align: center;
          display: block;
        }
      }
    }
  }
  &-content {
    color: $color__light;
    @media #{$sm-min} {
      text-align: left;
      border-left: 1px solid;
    }
    text-align: center;
    font-size: small;
    padding: 0 2em;
    a {
      color: $color__light;
    }
  }
  small.imadethis {
    color: $color__menu;
    opacity: .6;
    font-size: 10px;
    @media #{$sm-min} {
      position: absolute;
      right: 0;
      transform: rotate(-90deg);
      margin-right: -3em;
    }
  }
}