.vid {
  &-container {
    padding-top: (9 / 16) * 100%;
  }
  z-index: 0;
  //display: none;
  @media #{$lg-min} {
    display: block;
  }
  .featured-video-plus {
    width: 100%;
    height: 0;
    padding-top: (9 / 16) * 100%;
    position: absolute;
    left: 0;
    top: 0;
    //@media (max-aspect-ratio: 137/95) {
    //  height: 100%;
    //  width: 143vh;
    //}
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.accordion {

  $accordion-border-radius: 4px;
  $accordion-border-color: #eaeaea;
  $accordion-padding: 1em;
  * {
    @include fast(all);
  }

  &__wrapper {
    list-style: none;
    //margin: $accordion-padding 0;
    width: 100%;
  }

  &__item {
    //float: left;
    position: relative;
    width: 100%;
  }

  &__item {
    background: #fff;
    padding-bottom: $accordion-padding/2;

    .panel {
      padding: $accordion-padding/2 0;
      overflow: hidden;
      max-height: 300px;
    }

    &:last-of-type {
      border: 0;
      border-radius: $accordion-border-radius;
      padding-bottom: 0;
    }

    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 2.4em;
      z-index: 1;
      opacity: 0;
      background-color: yellow;

      &:checked {

        // Ensures panels are closed until checked
        &~div.panel {
          max-height: 0;
          padding: 0;
        }

        // Rotate chevron icon on selection
        &~span {
          transform: rotate( 180deg );
        }

      }

    }

  }

}