$spacer-unit: 2em;
$grid-unit: 10em;
$grid-count: 6;

.site {
  //padding: $spacer-unit;
  &-content {
    @media #{$screen-min} {
      max-width: (($grid-count * $grid-unit) + (($grid-count - 1) * $spacer-unit));
    }
    margin: 0 auto;
    min-height: 100vh;
  }
}
@media #{$screen-min} {
  .grid {
    display: flex;
    margin-bottom: $spacer-unit;
    flex-wrap: wrap;
    @for $i from 1 through $grid-count {
      &-#{$i} {
        margin: $spacer-unit/2;
        flex: 1 1 ($i * $grid-unit);
      }
    }
  }
}