$spacer-unit: 2em;
$grid-unit: 10em;
$grid-count: 6;

.site {
  //padding: $spacer-unit;
  &-content {
    max-width: (($grid-count * $grid-unit) + (($grid-count - 1) * $spacer-unit));
    margin: 0 auto;
    min-height: 100vh;
  }
}

.grid {
  display: grid;
  grid-gap: $spacer-unit;
  margin-bottom: $spacer-unit;
  grid-template-columns: repeat(auto-fill, $grid-unit);
  @for $i from 1 through $grid-count {
    &-#{$i} {
      grid-column-end: span $i;
    }
  }
}