.header {
  &-featured-news {
    max-height: 800px;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: $spacer-unit / 2;
    z-index: 1;
    box-shadow: 0 -14px 20px 20px rgba(0, 0, 0, 0.27), 0px 3px 0px 0px rgba(0, 0, 0, 0.11);
  }
  &-page {
    min-height: 40vh;
    width: 100%;
    position: relative;
    margin-bottom: 2 * $spacer-unit;
  }
  &-bg {
    @include fast(all);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #00C9FF;
    &-container, &-overlay, &-video {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &-container {
      overflow: hidden;
      z-index: -1;
      top: 0;
      left: 0;
    }
    &-overlay {
      @include fast(all);
      background: rgb(36,27,0);
      background: linear-gradient(0deg, rgba(36,27,0,.8) 0%, rgba(0,212,255,0.2) 100%), url(img/grid.gif);
      z-index: 1;
    }
    &-video {
      z-index: 0;
      display: none;
      @media #{$screen-min} {
        display: block;
      }
      .featured-video-plus {
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        position: absolute;
        left: 0;
        top: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &-text {
    //text-align: center;
    @include flex(center, center);
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    > a {
      @media #{$screen-min} {
        max-width: 68em;
        padding-top: 4em;
      }
    }
  }
  &-title {
    max-width: 70%;
    h1 {
      color: $color__title-light;
      text-transform: uppercase;
      background-color: $color__title-bg;

      @include longboxshadow($color__dark, 20);
    }
    @media #{$screen-min} {
      font-size: 2em;
    }
    //@include longshadow($color__featured-shadow, 14);
    //border-bottom: 5px solid $color__featured;
  }
  &-excerpt {
    color: $color__text-light;
    line-height: 1.5;
    margin-top: 2em;
    max-width: 70%;
  }
}