.header {
  &-featured-news {
    max-height: 800px;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 2 * $spacer-unit;
  }
  &-page {
    min-height: 40vh;
    width: 100%;
    position: relative;
    margin-bottom: 2 * $spacer-unit;
  }
  &-bg {
    @include fast(all);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #00C9FF;
    &-container, &-overlay, &-dust {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &-container {
      overflow: hidden;
      z-index: -1;
      top: 0;
      left: 0;
    }
    &-overlay {
      @include fast(all);
      background: rgb(36,27,0);
      background: linear-gradient(0deg, rgba(36,27,0,.8) 0%, rgba(0,212,255,0.2) 100%), url(img/grid.gif);
      z-index: 1;
    }
    &-dust {
      z-index: 1;
      //background: url("img/dust_white.gif");
    }
  }
  &-text {
    //text-align: center;
    @include flex(center, center);
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    > a {
      @media #{$screen-min} {
        max-width: 68em;
        padding-top: 4em;
      }
    }
  }
  &-title {
    h1 {
      color: $color__title-light;
      text-transform: uppercase;
      background-color: $color__title-bg;
    }
    @media #{$screen-min} {
      font-size: 2em;
    }
    //@include longshadow($color__featured-shadow, 14);
    //border-bottom: 5px solid $color__featured;
  }
  &-excerpt {
    color: $color__text-light;
    line-height: 1.5;
    margin-top: 1em;
  }
}