.news {
  &-posts {

  }
  &-post {
    .entry {
      &-header {
        & + .entry-meta {
          margin-top: -0.8em;
        }
      }
      &-title {
        font-size: xx-large;
        letter-spacing: -1px;
        line-height: 1.1;
        margin-bottom: 1rem;
        a {
          border-bottom: none;
        }
      }
      &-meta {
        font-size: small;
        margin: 0.5em 0;
      }
      &-content {
        margin: 0;
        &.single {
          font-size: larger
        }
      }
    }
  }
}
.entry-meta.single {
  text-align: center;
  a {
    color: white;
    border-bottom: none;
  }
}