.sponsor {
  &-intro {
    text-align: center;
    padding: 0 1em;
    @media #{$sm-min} {
      padding: 0 5em;
    }
  }
  &-container {
    @include flex(flex-start, center);
    @media #{$sm-max} {
      @include flex(flex-start, space-around);
    }
    flex-wrap: wrap;
    padding-bottom: 5em;
  }
  &-single {
    width: 220px;
    padding: 1em 2em;
    a {
      display: block;
    }
    &-logo {
      height: 140px;
      @include flex(flex-end, center);
      img {
        width: 100%;
      }
    }
    &-title {
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      &:before {
        @include fast(all);
        content: "";
        width: 70px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
        display: block;
        margin: 1.4em auto;
      }
    }
    &:hover {
      .sponsor-single-title {
        &:before {
          width: 100%;
          background-color: $color__menu-acc;
        }
      }
    }
  }
}