h1, h2, h3, h4, h5, h6 {
	//font-family: 'Pathway Gothic One', sans-serif;
	font-weight: 600;
	line-height: 1.01;
	clear: both;
	margin:  0;
	display:inline-block;
}
[class*='content'], [class*='text'] {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 1rem;
	}
}