$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__dark: #000;
$color__light: #fff;
$color__logo: #88C0D3;
$color__acc: #00ff99;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;
$color__link: $color__text-main;
$color__link-visited: $color__text-main;
$color__link-hover: $color__text-main;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__menu-fg: white;
$color__main-gradient: linear-gradient(90deg, rgba(0, 16, 42, 0.81) 0%, #0c5551d4 100%);
$color__menu: $color__light;
$color__menu-bg: $color__dark;
$color__menu-acc: #46b4d8;

$color__title-light: $color__light;
$color__title-bg: $color__dark;
$color__text-light: $color__light;

$color__featured-shadow: #000431;
$color__featured: $color__acc;
$color__dust: #d2d4ca;