$brand-width: 190px;
$brand-width-lg: 280px;

.site-branding {
  position: relative;
  left: -50%;
  width: 186px;
  overflow: hidden;
  height: $nav-height;
  &-svg {
    &-text {
      @include fast(all);
      fill: $color__menu;
      transform: translate(0, -67px);
    }
    &-island {
      @include fast(all);
      display: none;
    }
  }
  &-container {
    position: absolute;
    left: 50%;
    height: $nav-height;
  }
  //desktop
  @media #{$md-min} {
    @include fast(all);
    height: auto;
    left: 0;
    top: 0;
    width: $brand-width;
    margin-top: -20px;
    margin-left: -27px;
    &-container {
      left: 0;
      top: 0;
      width: $brand-width;
      display: table-cell;
      @include fast(all);
    }
    &-svg {
      //background-color: $color__light;
      &-text {
        @include fast(all);
        fill: $color__menu;
        transform: none;
      }
      &-island {
        @include fast(all);
        display: block;
        fill: transparent;
        stroke: $color__menu;
        stroke-width: 2;
        stroke-dasharray: 1600;
        stroke-dashoffset: 0;
      }
    }
  }
  @media #{$lg-min} {
    margin-top: -47px;
    width: $brand-width-lg;
    &-container {
      width: $brand-width-lg;
    }
  }
  a {
    &:hover {
      .site-branding-svg {
        &-text {
          fill: $color__menu_acc;
        }
      }
    }
  }
}
@media #{$md-min} {
  .scrolled {
    @include fast(all);
    top: -36px;
    .site-branding {
      @include fast(all);
      width: 230px;
      margin-top: -5px;
      left: 7px;
      &-container {
        width: 230px;
      }
      &-svg {
        &-text {
          fill: $color__menu;
        }
        &-island {
          fill: transparent;
          stroke-dashoffset: 1600;
        }
      }
    }
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .site-branding {
    margin-top: -29px;
  }
  .scrolled .site-branding {
    margin-top: -2px;
  }
}