$meta-height: 50px;

.meta {
  &-container {
    margin-top: $nav-height;
  }
  &-menu {
    position: absolute;
    top: 100vh;
    margin-top: -$meta-height !important;
    height: $meta-height;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lighten($color__menu-bg, 15%);
    li.menu-item {
      > a:hover {
        color: $color__acc;
      }
    }
    .menu-item {
      * {
        font-size: 16px;
      }
      margin: 5px 10px;
      color: $color__menu;
    }
    .cart {
      &-count {
        font-size: 8px !important;
        font-weight: bold;
        padding: 3px 3px 3px 5px;
        text-align: center;
        border-radius: 15px;
        line-height: 0.8em;
        vertical-align: baseline;
        position: absolute;
        top: 1.3em;
        margin-left: 1.2em;
        font-family: Roboto, sans-serif;
        color: $color__menu-bg;
        background: $color__featured;
        @include box_shadow(1);
      }
      &-label {
        color: $color__menu;
      }
    }
    .menu-search {
      display: none;
    }
    .menu-lang {
      &-select {
        text-transform: uppercase;
        //width: 5em;
        option {
          color: $color__dark;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .menu-count {
      display: none;
      @media #{$sm-min} {
        display: inline-block;
      }
      opacity: .5;
      .to-go {
        display: none;
        @media #{$sm-min} {
          display: inline;
        }
      }
    }
  }
  @media #{$md-min} {
    &-container {
      margin-top: 0;
      margin-left: auto;
      display: table;
    }
    &-menu {
      display: table-cell;
      margin-top: 0 !important;
      top: 0;
      height: auto;
      background-color: transparent;
      position: relative;
      border-bottom: 1px solid rgba($color__menu, .4);
      .menu-item {
        * {
          font-size: 12px;
        }
      }
    }
  }
}