nav.main-navigation {
  @include box_shadow(1);
  .search {
    &-container {
      position: absolute;
      top: 0;
      right: 0;
      @media #{$md-min} {
        display: none;
      }
    }
    &-icon {
      font-size: 31px;
      padding: 12px 14px;
    }
    &-input {
      position: absolute;
      right: 0;
      height: 100%;
      width: 60px;
      color: transparent;
      @include fast(all);
      &:focus {
        color: $color__menu;
        outline: none;
        width: 180px;
        font-size: 20px;
        background: $color__menu-bg;
        margin-right: 60px;
        border-bottom: 1px solid;
        border-radius: 0;
      }
    }
  }
}